#branch{
   margin-top: 150px;
   margin-bottom: 100px ;
   .branch_header{
       h2{
        font-family:$opensons;
        font-size: 35px;
        font-weight: 700;
        color:$header_bg;
       }
       h3{
        font-family:$roboto;
        font-size:16px;
        font-weight: 400;
        color:#333333;
        padding: 10px 400px;
        line-height: 24px;
       }
   }
   .branch_main{
       margin-top: 100px;
 .branch_left{    
        height: 500px;
        width: 100%;
        background: url(../images/branch.png);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
       display: flex;
       justify-content: space-around;
        .round_1{
            @include map_puls;
            position: relative;
            top: 150px;
            left: 0;
            .spot{ 
                @include map_spot;
        }
}
 
.round_2{
    @include map_puls;
    position: relative;
    top: 336px;
    left: -22px;
    .spot{ 
        @include map_spot;
}
}

.round_3{
    @include map_puls;
    position: relative;
    top: 258px;
    left:42px;
    .spot{ 
        @include map_spot;
}
}

.round_4{
    @include map_puls;
    position: relative;
    top: 142px;
    left: -22px;
    .spot{ 
        @include map_spot;
}
}


.round_5{
    @include map_puls;
    position: relative;
    top: 93px;
    left: -17px;
    .spot{ 
        @include map_spot;
}
}


}


    .branch_right{
        margin-top: 10px;
        margin-left: 50px;
        h2{
            font-family:$roboto;
            font-size: 24px;
            font-weight: 500;
            color:$red;
        }
        h3{
            font-family:$opensons;
            font-size: 34px;
            font-weight: 700;
            color:$header_bg;
        }
    }
    .branch_item{
        h4{
            font-family:$roboto;
            font-size:16px;
            font-weight: 400;
            color:#333333;
            padding: 10px 0;
            line-height: 24px;
        }
        ul{
            li{
                padding: 5px 0;
            a{
                font-family:$opensons;
                font-size: 16px;
                font-weight: 400;
                color:#333333;
                span{
                    padding-right: 10px;
                    i{
                        font-size: 18px;
                    }
                }
            }
            }
        }
        .branch_button{
            margin-top: 50px;
            height: 50px;
            width: 120px;
            background-color: $header_bg;
            border: 1px solid $header_bg;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

            &:hover{
                background-color: transparent;
                border-color: black;
                &:hover h5{
                    color: black;
                }
            }
            h5{
                font-family:$opensons;
                font-size: 16px;
                font-weight: 700;
                color:$white;
                line-height: 50px;
                text-align: center;
            }
        }
    }
    }
}

@keyframes pulse {
    0% {
      background-color: #89e9eb3d;
    }
    100% {
      background-color: rgba(87, 178, 180, 0.424);
    }
  }