$oswald:'Oswald', sans-serif;
$roboto:'Roboto', sans-serif;
$monstar:'Montserrat', sans-serif;
$opensons: 'Open Sans', sans-serif;
$sky:#44aaac;
$blue:#003E53;
$blue_black:#264653;
$white:#ffffff;
$header_bg:#1f8183;
$ofsky:#89e9eb;
$red:#f6527e;
// $red:#de4644;
$ashh:#bfcaca;